/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 28, 2015, 1:06:00 PM
    Author     : esa
*/

 
#change_password_panel {
    margin-bottom: 20px;
 }

#change_password_panel tr, #change_password_panel td {
     border-style: none;
     background-color: transparent;
 }
