/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 9, 2015, 10:33:24 AM
    Author     : koulutus
*/

 .ui-wizard-nav-next {
    float: left;
 }
 
 .label {
     text-align: right;
 }
 
 #confirmation-grid tr, #confirmation-grid td {
     border-style: none;
     background-color: transparent;
 }

 