<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>JOB_SEEKER_SERVER_ROOT</param-name>
        <param-value>http://localhost:8080/joblistDemo/faces/</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.FONT_AWESOME</param-name>
        <param-value>true</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/jobseeker/login.xhtml</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>AuthorizationFilterForJobseekerLogin</filter-name>
        <filter-class>com.joblist.Filter.AuthorizationFilter</filter-class>
        <init-param>
            <param-name>loggedInRedirectPath</param-name>
            <param-value>/joblistDemo/faces/jobseeker/forms/home.xhtml</param-value>
        </init-param>
        <init-param>
            <param-name>loginAttributeName</param-name>
            <param-value>jobseeker</param-value>
        </init-param>        
    </filter>
    <filter>
        <filter-name>AuthorizationFilterForJobseeker</filter-name>
        <filter-class> com.joblist.Filter.AuthorizationFilter </filter-class>
        <init-param>
            <param-name>loginPagePath</param-name>
            <param-value>/joblistDemo/faces/jobseeker/login.xhtml</param-value>
        </init-param>
        <init-param>
            <param-name>loginUrlParameter</param-name>
            <param-value>jobid</param-value>
        </init-param>
        <init-param>
            <param-name>loginAttributeName</param-name>
            <param-value>jobseeker</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>AuthorizationFilterForEmployerLogin</filter-name>
        <filter-class>com.joblist.Filter.AuthorizationFilter</filter-class>
        <init-param>
            <param-name>loggedInRedirectPath</param-name>
            <param-value>/joblistDemo/faces/employer/forms/home.xhtml</param-value>
        </init-param>
        <init-param>
            <param-name>loginAttributeName</param-name>
            <param-value>employerlogin</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>AuthorizationFilterForEmployer</filter-name>
        <filter-class> com.joblist.Filter.AuthorizationFilter </filter-class>
        <init-param>
            <param-name>loginPagePath</param-name>
            <param-value>/joblistDemo/faces/employer/login.xhtml</param-value>
        </init-param>
        <init-param>
            <param-name>loginAttributeName</param-name>
            <param-value>employerlogin</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>AuthorizationFilterForJobseekerLogin</filter-name>
        <url-pattern>/faces/jobseeker/login.xhtml</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthorizationFilterForJobseeker</filter-name>
        <url-pattern>/faces/jobseeker/forms/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthorizationFilterForEmployerLogin</filter-name>
        <url-pattern>/faces/employer/login.xhtml</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthorizationFilterForEmployer</filter-name>
        <url-pattern>/faces/employer/forms/*</url-pattern>
    </filter-mapping>
</web-app>
